@media screen and (min-width: 2560px) {
    nav ul li a {
        font-size: 16px; 
    }

    .info_text h1 {
        font-size: 56px; 
    }
    .info_text p {
        font-size: 32px; 
    }
    .info_text a {
        font-size: 19.2px; 
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    nav ul li a {
        font-size: 16px; 
    }

    .info_text h1 {
        font-size: 44.8px; 
    }
    .info_text p {
        font-size: 27.2px; 
    }
    .info_text a {
        font-size: 16px; 
    }
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    nav ul li a {
        font-size: 16px; 
    }

    .info_text h1 {
        font-size: 36px;
    }

    .info_text p {
        font-size: 24px; 
    }

    .info_text a {
        font-size: 14px;
    }


}

@media screen and (max-width: 880px) {
    nav ul {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .burger button {
        margin-top: 10px;
    }

    nav ul li a {
        font-size: 14.4px; 
    }

    .info_text h1 {
        font-size: 40px; 
    }
    .info_text p {
        font-size: 24px; 
    }
    .info_text a {
        font-size: 16px; 
    }
}

@media screen and (max-width: 735px) {
    nav,
    .auth {
        display: none;
    }

    .info_text h1 {
        font-size: 32px; 
    }
    .info_text p {
        font-size: 20.8px; 
    }
    .info_text a {
        font-size: 12.8px; 
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding-right: 1em;
    }
}

@media screen and (max-width: 425px) {
    nav,
    .auth {
        display: none;
    }

    .info_text h1 {
        font-size: 24px; 
    }
    .info_text p {
        font-size: 16px; 
    }
    .info_text a {
        font-size: 11.2px; 
    }
}
